<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <style>

    </style>
</head>
<body>
<div class="container">
    <div class="block-center">
            <h2>Error: invalid_request</h2>
            <p>Invalid {{ msg }} parameter value.</p>
    </div>
</div>
</body>
</html>